
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
    <h2>Welcome</h2>
    <div class="row mt-4">
        <div class="col-md-6 mb-3">
            <a href="/user/doctors" class="btn btn-primary btn-block">View Doctors</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="/user/appointments/new" class="btn btn-success btn-block">Book an Appointment</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="/user/viewAppointments" class="btn btn-info btn-block">View My Appointments</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="/user/messages/new" class="btn btn-warning btn-block">Message Admin</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="/user/viewMessages" class="btn btn-warning btn-block">View Messages</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="/logout" class="btn btn-danger btn-block">Logout</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
